= render 'shared/header'
.container
  %form.form-content
    = form_with model: @article, url: "/articles", method: "post" do |f|
      .form-title
        %lavel.title-lavel
          title
        = f.text_field :title, class: "post-title-content", placeholder: 'タイトルを入力してください'
      .main-content
        %lavel.content-lavel
          content
        = f.text_area :content, class: "post-main-content",  placeholder: '本文を入力してください'
      .post-btn
        = f.submit "send",class: "green-btn"
  = render 'shared/footer'