.header
  .header-light
    .appname 
      = link_to 'Wisdom Post', articles_path, class: 'btn-in'
    .search 
      = search_form_for @q, url: searches_path do |f| 
        = f.search_field :title_cont, placeholder: "検索ワード" 
  .header-right
    - if user_signed_in?
      .header-right-wrapper
        .stock
          = link_to 'Stock', 'https://qiita.com/', class: 'btn-in'
        .post
          = link_to 'Post', new_article_path, class: 'btn-in'
          
        .mypage
          = link_to 'Mypage', "/usres/#{current_user.id}", class: 'btn-in'
    - else 
      .header-right-wrapper
        .login-btn
          = link_to 'Login', new_user_session_path, class: 'btn-in'
        .sign-up-btn
          =link_to 'Sign-up', new_user_registration_path, class: 'btn-in'
          
      
